# IDE files
.idea

# OS files
*.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
.vscode

# exclude all of uploads folder, but keep the folder itself
uploads/*
!uploads/.gitkeep

# Users Environment Variables
.lock-wscript
.env
*.env

# Runtime configuration for swagger app
config/runtime.yaml
